#Home #Items h6{
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 	0px;
}
#Home #Items p{
	font-size: 14px;
	line-height: 16px;
	color: rgba(0, 0, 0, 0.5);
	margin-bottom: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#Home #Items p span{
	display: block;
}
#Home #Items td{
	border-bottom: 2px solid #E2E5E8;
	vertical-align: middle;
}
#Home #Items{
	padding: 12px;
}
#Home #Items .custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #4BD865;
    background-color: #4BD865;
}
#Home #Items .custom-control-input:focus{
	box-shadow: 0px 0px 0px transparent
} 
#Home #Items .custom-switch .custom-control-input:checked~.custom-control-label::after {
    background-color: #fff;
    -webkit-transform: translateX(.75rem);
    transform: translateX(.75rem) scale(1.5);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
    border: 1px solid #D4D4D4;
}
#Home #Items .custom-switch .custom-control-label::after {
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
    border: 1px solid #D4D4D4;
    transform: scale(1.5);
    background-color: white;
    cursor: pointer;
}
#Home #Items .custom-switch .custom-control-label{
	top: -10px
}