#MyShtraph #Auto{
	background: #FFFFFF;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	padding: 30px;
	height: 100%;
}
#MyShtraph #Auto p{
	font-size: 18px;
	line-height: 28px;
	margin-bottom: 10px;
}