#ImageShtraf #imgWrapperShtraf .InfoShtraf{
	background: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	color: white;
	position: absolute;
	bottom: 15px;
	padding: 22px
}
#ImageShtraf #imgWrapperShtraf .InfoShtraf p{
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 16px;
}
#ImageShtraf #imgWrapperShtraf .InfoShtraf p:last-child{
	margin-bottom: 0px;
}
#ImageShtraf #imgWrapperShtraf .InfoShtraf p span{
	font-weight: 300;
}