#Menu h4{
	font-size: 16px;
	line-height: 16px;
	color: #474B55;
	margin-bottom: 	26px;
}
#Menu a:hover{
	text-decoration: none;
}
#Menu a:hover p{
	color: #005395;
}
#Menu p{
	font-size: 16px;
	line-height: 16px;
	color: #474B55;
	margin-bottom: 	30px;
}
#Menu p:before{
	content: "";
	display: inline-block;
	background: #C4C4C4;
	border-radius: 2px;
	width: 16px;
	height: 16px;
	line-height: 26px;
	margin-right: 10px;
	top:2px;
	position: relative;
}