#Home>div{
	background: #FFFFFF;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	padding: 25px
}
#Home>div select{
	width: 60px
}
#Home>div .form-control{
	border-color: rgba(0, 0, 0, 0.5);
	font-size: 14px;
	line-height: 16px;
	color: rgba(0, 0, 0, 0.5);
}
#Home>div .custom-select{
	border-color: rgba(0, 0, 0, 0.5);
	font-size: 14px;
	line-height: 16px;
	color: rgba(0, 0, 0, 0.5);
}

#Home .table_filter, #Home .table_tools,#Home .asrt-page-length{
	margin-top: 10px;
	width: auto !important;
}

#Home .table-body.asrt-table-body{
	overflow-x: auto;
}
#Home thead{
	background: #F6F7FB;
	padding: 14px;
}
#Home thead tr th:first-child{
	text-align: left;
}
#Home thead tr th{
	font-size: 14px;
	line-height: 16px;
	border-bottom: 2px solid #E2E5E8;
	border-top: 2px solid #E2E5E8;
	text-align: center;
	color: black
}
.shown p{
	font-size: 14px;
	line-height: 16px;
	color: rgba(0, 0, 0, 0.5);
	margin-bottom: 0px;
}

#pagination .page-link{
	font-size: 12px;
	line-height: 16px;
	color: #B8B8B8;
}
#pagination .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #005395;
    border-color: #005395;
}
#pagination .page-link {
	padding: 10px
}
.page-link:hover {
    z-index: 2;
    color: #0056b3 !important;
    text-decoration: none;
    background-color: #fafafa;
    border-color: #dee2e6;
}
#Home .custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #007bff;
    background-color: #007bff;
}
#Home .custom-control-input:focus{
	box-shadow: 0px 0px 0px transparent
} 
#Home .custom-switch .custom-control-input:checked~.custom-control-label::after {
    background-color: #fff;
    -webkit-transform: translateX(.75rem);
    transform: translateX(.75rem) scale(1.5);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
    border: 1px solid #D4D4D4;
}
#Home .custom-switch .custom-control-label::after {
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
    border: 1px solid #D4D4D4;
    transform: scale(1.5);
    background-color: white;
    cursor: pointer;
}
#Home .custom-control{
	display: flex;
	justify-content: start;
}
#Home .custom-control-input{
	z-index: 1;
	cursor: pointer;
	width: 2rem;
}
#Home h6{
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 	0px;
}
#Home p{
	font-size: 14px;
	line-height: 16px;
	color: rgba(0, 0, 0, 0.5);
	margin-bottom: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#Home p span{
	display: block;
}
#Home td{
	border-bottom: 2px solid #E2E5E8;
	vertical-align: middle;
	text-align: center;
}
